.availableIngredients {
    display: flex;
    flex-wrap: wrap;

    &Item {
        flex: 1 1 calc(100% / 3);
    }

    &Container {
        text-align: center;
        padding-top: $gutterVerticalLg;
    }

    &Title {
        margin-bottom: .8rem;
    }

    &Button {
        margin: .8rem auto;
        background: transparent;
        border: 0;
        color: $colorPrimaryDark;
        overflow: hidden;

        &:not([disabled])::after {
            content: "";
            width: 0;
            height: 2px;
            background-color: $colorText;
            display: block;
            margin: 0 auto;
            transition: .2s all;
        }

        &:hover,
        &:focus {
            &::after {
                width: 100%;
            }
        }

        &[disabled] {
            color: $colorTextHover;
        }
    }
}