.result {
    width: 100%;
    background-color: $colorPrimaryDark;
    color: $colorWhite;
    padding: $gutterVerticalLg 0;
    position: fixed;
    bottom: 0;
    height: 85vh;
    overflow-y: scroll;

    .wrapper {
        align-items: center;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    &Title {
        color: $colorAccent;
        font-size: 3.2rem;
        text-transform: uppercase;
        letter-spacing: -1.2px;
    }

    &Ingredients {
        font-size: 2.4rem;
        text-transform: capitalize;
    }

    &Button {
        display: block;
        margin: $gutterVerticalMd auto;
        font-size: 2.4rem;
        background-color: $colorWhite;
        &::after {
            transform: translate(0,0);
        }
    }
}

.nutrients {
    &Title {
        color: $colorAccent;
        font-size: 2.8rem;
        margin: 1.2rem 0;
    }

    &Item {
        flex: 1 1 50%;
        font-size: 2rem;
        text-transform: capitalize;
        margin-bottom: .5rem;
    }
}