.selectedIngredients {
    align-self: center;

    &Title,
    &List {
        margin-bottom: 1.2rem;
    }
}

.removeSelectedIngredient {
    background: 0;
    border: 0;
    font-size: 1.6rem;
    
    &:hover,
    &:focus {
        color: $colorTextHover;     
    }
}