$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Asap', sans-serif;

body {
    font-family: $bodyFont;
}

h1,
h2,
h3,
h4 {
    font-family: $headingFont;
    letter-spacing: -.02em;
    font-weight: 600;
}

.siteTitle {
    font-size: 4rem;
    line-height: .85;
    margin-right: auto;
    text-align: center;
}

.selectedIngredients {
    &Title {
        font-size: 2rem;
        text-transform: capitalize;
    }

    &Item {
        font-size: 2rem;
        text-transform: capitalize;
    }
}

.availableIngredients {
    &Title{
        text-transform: capitalize;
        font-size: 3.2rem;
        letter-spacing: .3px;
    }

    &Button {
        text-transform: capitalize;
        font-size: 2.4rem;
        font-weight: 600;
    }
}