$colorText: #151D1C;
$colorTextHover: #627D7B;

$colorPrimaryLight: #fccdcc;
$colorPrimary: #F37F78;
$colorPrimaryDark: #D3392B;

$colorAccentLight: #FDFBD1;
$colorAccent: #F4E27C;
$colorAccentDark: #C2981F;

$colorWhite: #FEF8F8;

$gridWidth: 114rem;
$gridGutter: 5rem;

$gutterVerticalSm: 1.8rem;
$gutterVerticalMd: 2.4rem;
$gutterVerticalLg: 3.2rem;