$colorText: #151D1C;
$colorTextHover: #627D7B;

$colorAccentLight: #fccdcc;
$colorAccent: #F37F78;
$colorAccentDark: #D3392B;

$colorWhite: #FEF8F8;

$gridWidth: 114rem;
$gridGutter: 5rem;

$gutterVerticalSm: 1.8rem;
$gutterVerticalMd: 2.4rem;
$gutterVerticalLg: 3.2rem;