/*
    MEDIA QUERIES

    $breakpoint arguments


    0-420px: xs
    420-680px: sm
    681-900px: md
    901-1240px: lg
    (1241-1800) default styles applied
    1801px+: xxl

*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 43.75%;
  }
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  color: #151D1C;
  background-color: #FEF8F8;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Asap", sans-serif;
  letter-spacing: -.02em;
  font-weight: 600;
}

.siteTitle {
  font-size: 4rem;
  line-height: .85;
  margin-right: auto;
  text-align: center;
}

.selectedIngredientsTitle {
  font-size: 2rem;
  text-transform: capitalize;
}

.selectedIngredientsItem {
  font-size: 2rem;
  text-transform: capitalize;
}

.wrapper {
  max-width: 114rem;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flexNoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  .flexNoWrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.columnLeft,
.columnRight {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc((100% - 5rem) / 2);
          flex: 1 1 calc((100% - 5rem) / 2);
}

.columnLeft {
  margin-right: 5rem;
}

.header {
  padding: 2rem 0;
}

.categoriesContainer {
  padding: 2rem 0;
}

.categoriesList {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selectedIngredients {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.selectedIngredientsTitle, .selectedIngredientsList {
  margin-bottom: 1.2rem;
}

.removeSelectedIngredient {
  background: 0;
  border: 0;
  font-size: 1.6rem;
}

.removeSelectedIngredient:hover, .removeSelectedIngredient:focus {
  color: #627D7B;
}

.availableIngredientsContainer {
  text-align: center;
}

.availableIngredientsTitle {
  text-transform: capitalize;
  font-size: 3.2rem;
  letter-spacing: .3px;
  margin-bottom: .8rem;
}

.availableIngredientsButton {
  margin: .8rem auto;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 600;
  background: transparent;
  border: 0;
  color: #D3392B;
  overflow: hidden;
}

.availableIngredientsButton:not([disabled])::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #151D1C;
  display: block;
  margin: 0 auto;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.availableIngredientsButton:hover::after, .availableIngredientsButton:focus::after {
  width: 100%;
}

.availableIngredientsButton[disabled] {
  color: #627D7B;
}

.button {
  position: relative;
  padding: .8rem 1.6rem;
  font-family: "Asap", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #151D1C;
  border-radius: 8px;
  -webkit-transition: .15s all;
  transition: .15s all;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background: #fccdcc;
  -webkit-transform: translate(0.4em, 0.4em);
          transform: translate(0.4em, 0.4em);
  z-index: -1;
  -webkit-transition: .15s all;
  transition: .15s all;
}

.button:hover::after, .button:focus::after {
  background: #F37F78;
  -webkit-transform: translate(0, 0) scale(1.05, 1.25);
          transform: translate(0, 0) scale(1.05, 1.25);
}

.slidingCard {
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 100%;
  -webkit-transition: .5s right;
  transition: .5s right;
  background: #D3392B;
}

.slidingCardActive {
  right: 0;
}

.slidingCardClose {
  background: 0;
  border: 0;
  font-size: 3.2rem;
  display: block;
  margin-left: auto;
}

.slidingCardContainer {
  padding: 2.4rem 0;
}

.slidingCardTitle {
  text-transform: capitalize;
  font-size: 4rem;
}

.slidingCardImgContainer {
  border-radius: 1.8em;
  position: relative;
  overflow: hidden;
}
